<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Campus | DSCE BIRTHDAY WISHER</title>
    </head>
    {% extends 'base.html' %}
    {% block content %}
    <body>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">From Around the DSCE</span>
                                <span class="section-heading-lower">CD SAGAR & NRI Canteen</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://imgur.com/vsl7V9Z.jpg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">-DSCE with its heritage has fortified numerous student lives to peaks of success within their 4 years of graduate life. It has a scintillating atmosphere with lush greenery, bringing inspiration and new experience to learn. Culture, Art & Performances, sports & fitness blend with high academic education brings out the inner potential of the student to the maximum.
                            <br/>-Dayananda Sagar College of Engineering has built up a reputation of higher academic standards. All students shall be required to conduct themselves in a manner befitting the students of DSCE, a institution of high reputation, within and outside the precincts of the institution.
                        </p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">From Around the DSCE</span>
                                <span class="section-heading-lower">PC SAGAR Auditorium</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://imgur.com/64dmvUI.png" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Dr. D. Premachandra Sagar auditorium - Dayananda Sagar Institutions and Dayananda Sagar College of Engineering where students are allowed to showcase their vivid talents in the form of Dance , Music , Art, Literature, Theatre, Fashion and Management. We at the Centre for Performing Arts also known as the CPA make sure that the students are given an equal chance and opportunity so that they can nurture their Cultural Persona with the daily routine of studies and college. The CPA is the responsible for conducting the Cultural and Managerial Events for Dayananda Sagar Institutions. The CPA makes sure that every student in college gets equal opportunity to come and showcase their talent and thus we have Individual teams and auditions are conducted for students at the start of every new year.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">From Around the DSCE</span>
                                <span class="section-heading-lower">CENTRE FOR YOGA AND MEDITATION</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://imgur.com/tyDjca3.jpg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">CENTRE FOR YOGA AND MEDITATION – SHIVA SAGAR MEDITATION HALL - DSI -Travelling the world for the very best place. introduces Yoga and Meditation techniques to the newly joined students of both DSI and Dayananda Sagar University (DSU). His commitment also extends in conducting regular training sessions for the faculty members and the staff of DSI and DSU at the Meditation Centre, DSCE, Kumaraswamy Layout, Bangalore.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %}